<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DocumentDBEndpoint" value="PLACE YOUR DOCUMENTDB HOST HERE (Under keys in your Document DB instance- https with port num)"/>
    <add key="DocumentDBAuthKey" value="PLACE YOUR AUTHENTICATION KEY HERE (as above from the same section, do not miss the == if copying and pasting!)" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>